<h1>{{homeCtrl.message}}</h1>

<div>
    This article is about the Thomson Reuters Corporation.
</div>
<ul>
    <li>The company was founded by Roy Thomson in 1934 in Ontario as the publisher of The Timmins </li>
    <li>Daily Press. In 1953, Thomson acquired the Scotsman newspaper and moved to Scotland the </li>
    <li>following year. He consolidated his media position in Scotland in 1957 when he won the </li>
    <li>franchise for Scottish Television. In 1959, he bought the Kemsley Group, a purchase that </li>
    <li>eventually gave him control of the Sunday Times. He separately acquired the Times in 1967. He </li>
    <li>moved into the airline business in 1965, when he acquired Britannia Airways and into oil and </li>
    <li>gas exploration in 1971 when he participated in a consortium to exploit reserves in the North </li>
    <li>Sea. In the 1970s, following the death of Thomson, the company withdrew from national </li>
    <li>newspapers and broadcast media, selling the Times, the Sunday Times and Scottish Television </li>
    <li>and instead moved into publishing, buying Sweet & Maxwell in 1988. The company at this time </li>
    <li>was known as the International Thomson Organisation Ltd (ITOL).[10]</li>
</ul>

<fieldset>
    <legend>Home</legend>
    Custom Data 1 : {{homeCtrl.homeCustomData1}}
    <br />
    Custom Data 2 : {{homeCtrl.homeCustomData2}}
    <br />
</fieldset>

<fieldset>
    <legend>Courses</legend>
    Custom Data 1 : {{homeCtrl.coursesCustomData1}}
    <br />
    Custom Data 2 : {{homeCtrl.coursesCustomData2}}
    <br />
</fieldset>